@media screen and (min-width: 576px) {
    .img-pic {
        width: 300px;
    }
    .name {
        font-size: xx-large;
    }
}

@media screen and (max-width: 575px) {
    .img-pic {
        width: 200px;
    }

    .name {
        font-size: x-large;
    }
}

.box-shadow {
    background-color: white;
    box-shadow: 2px 8px 5px black;
}

.box-shadow:hover {
    background-color: ghostwhite;
    box-shadow: 4px 8px 10px black;
}

.box-shadow:hover .text-shadow {
    text-shadow: 2px 2px 2px gray;
}

.bg-lightgrey {
    background-color: LightGrey;
}
